<p id="notice"><%= notice %></p>

<div class="col-md-3" >
  <ul>
    <li>Address: <%= @property.address %></li>
    <li>Suburb: <%= @property.suburb %></li>
    <li>Landsize: <%= @property.landsize %></li>
    <li>Bedrooms: <%= @property.bedrooms %></li>
    <li>Bathrooms: <%= @property.bathrooms %></li>
    <li>Private Parking: <%= @property.private_parking %></li>
    <li>Expected Price: <%= @property.expected_price %></li>
    <li>Photo: <%= @property.photo %></li>
  </ul>


  <% if @property.photo.nil? %>
  <% else %>
  <div class=" mt-1em ">
    <%= image_tag(@property.photo, :class => 'img-rounded photo') unless @property.photo.nil? %>
  </div>
  <% end %>



</div>




<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
